* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 4vh;

}

.pie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1vh solid black;
}

.form-vote {
    margin: 2vh;
    padding: 1vh;
    width: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.form-voted {
    margin: 2vh;
    padding: 1vh;
    width: 20vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}