<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pies</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/my_css/pies.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">

</head>
<body>
    <nav><a href="/signout">Sign Out</a></nav>
    <div class="container">
        <h2>All Pies</em></h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-success">
                  <th scope="col">Name</th>
                  <th scope="col">Baker</th>
                  <th scope="col" class="votes-col">Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for pie in pies %}
                <tr>
                    <td><a href="/pies/{{pie.id}}">{{pie.name}}</a></td>
                    <td>{{pie.baker.first_name}}</td>
                    <td class="votes-col">{{pie.voters.all|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/dashboard">Back to my Pies</a>

    </div>


    <script src="{% static 'js/bootstrap/bootstrap.js' %}" ></script>
</body>
</html>